<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com" th:replace="adminBase::layout(~{::section})">
  <head>
    
  </head>
  <body>
   <section>
    <!-- write your code here -->
     <script th:src="@{/script/addProductType.js}"></script>
     
     <div class="container-fluid">
	<table class="table table-responsive table-bordered border-primary" style="margin-top: 20px;">
		<thead>
		</thead>
		<tbody>
			<tr>
				<th style="width: 30%;">Select Shop :</th>
				<td>
					<select style="width: 50%;" id="myShop" onchange="showAllProductTypeMasterNew()">
						<option lue="option1">select</option>
					</select>
				</td>
			</tr>
		</tbody>
	</table>
    
    
    <div id="productTypeMasterTable"></div>

<!-- Modal -->
<div class="modal fade" id="addProductTypeMaster" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add New Product Master</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <div id="newUserModel">
			<form th:action="@{/doRegister}" method="post">
			
			<div class="mb-3">
				<label for="name" class="form-label">Product Master Name :-</label>
				<input name="Product_Master_Name"  type="text" class="form-control" id="ProductMasterName" aria-describedby="emailHelp" requierd>
			</div>
			
			<div class="mb-3">
			<label for="soldType" class="form-label">Select Sold Type :-</label>
				<select class="form-select" aria-label="Default select example" id="soldType">
					<option selected value="PER_ITOM">Per Itom</option>
					<option value="PER_KG">Per Kg</option>
					<option value="PER_LITER">Per Liter</option>
				</select>
			</div>
			
			<div class="mb-3">
				<label for="password" class="form-label">Enter Search Code :-</label>
				<input name="uniqueNo"  type="number" class="form-control" id="uniqueNo" aria-describedby="emailHelp" requierd>
			</div>
			
			</form> 
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary" onclick="saveNewProductTypeMaster()">Save</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="addSubProductTypeMaster" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add Sub Product Master</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <div id="newUserModel">
			<form id="subProductTypeForm">
			
			<div class="mb-3">
				<label for="name" class="form-label">Sub Product Name</label>
				<input name="Product_Master_Name"  type="text" class="form-control" id="SubProductName" aria-describedby="emailHelp" requierd>
			</div>
			
			<div class="mb-3">
				<label for="password" class="form-label">Enter Search Code</label>
				<input name="uniqueNo"  type="number" class="form-control" id="subUniqueNo" aria-describedby="emailHelp" requierd>
			</div>
			
			</form> 
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary" onclick="saveSubProductTypeMaster()">Save</button>
      </div>
    </div>
  </div>
</div>
    
  </div>
   </section>
  </body>
</html>