<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com" th:replace="base::layout(~{::section})">
  <head>
  </head>
  <body>
   <section class="banner d-flex justify-content-center align-items-center">
    
    <div class="text-center">
    <h1 class="font-weight-bold">My Shop Management</h1>
    <p>
    Start Managing your Shop in very smarter way. We provide
     very efficient and smarter way of handle Your Customers.
    </p>
    <button class="btn bg-primary btn-lg">Get Started</button>
    </div>


   </section>
  </body>
</html>