<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com" th:replace="adminBase::layout(~{::section})">
  <head>
    
  </head>
  <body>
   <section class="content">
    <!-- write your code here -->
    <script th:src="@{/script/purchaseOrder.js}"></script>
    <style>
    .nav-tabs .nav-link {
      background-color: rgb(192, 192, 192);
    }
    
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-link:focus,
    .nav-tabs .nav-link:active {
      background-color: #337ab7;
      color: #fff;
    }
    
    .hiddenClass{
		display:none;
	}
	
	.myProfile
    {
	width: 61px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
   text-align: center;
    }
    
    /* Example CSS to customize Dropzone.js upload button */
.dropzone .dz-clickable {
      padding: 1px 1px; /* Adjust the padding to make the button smaller */
      font-size: 12px; /* Adjust the font size to make the button text smaller */
      width: 100px; /* Adjust the width of the button */
      height: 30px; /* Adjust the height of the button */
    }

    .dropzone .dz-clickable:before {
      line-height: 30px; /* Adjust the line-height to vertically center the text */
    }
    
    
    
  </style>
  
    <div class="container-fluid">
    <table class="table table-responsive table-bordered border-primary">
  <thead>
  </thead>
  <tbody>
    <tr>
      <th style="width: 30%;">Select Shop :</th>
      <td>
      <select style="width: 50%;" id="myShop" onchange="getAllpurchase()">
      <option lue="option1">select</option>
      </select> 
</td>
    </tr>
  </tbody>
</table>

<div id="hiddenDiv"></div>

	<nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist" style="background-color:rgb(192, 192, 192);">
			<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
				role="tab" aria-controls="nav-home" aria-selected="true" onclick="$('#AddProductTab').addClass('hiddenClass');getAllpurchase();">Current</button>
			<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
				role="tab" aria-controls="nav-profile" aria-selected="false">History</button>
			<button class="nav-link hiddenClass" id="AddProductTab" data-bs-toggle="tab" data-bs-target="#AddProduct-contact" type="button"
				role="tab" aria-controls="nav-contact" aria-selected="false">Add Product</button>
		</div>
	</nav>
	
<div class="tab-content" id="nav-tabContent">
	<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
	<div id="purchaseTable"></div>
	</div>
	<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">History</div>
	<div class="tab-pane fade" id="AddProduct-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
	<div id="AddProductDiveBackButton" style="margin: 10px;"> </div>
	<div id="AddProductDiveInfo"> </div>
	<div id="AddProductDive"> </div>
	</div>
</div>


<div class="modal fade" id="PurchaseOrderModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add New Purchase Order</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <div id="newPurchaseOrderModel">
			<form  method="post"> <!-- th:action="@{/doRegister}" -->
			
			<div class="mb-3">
				<label for="name" class="form-label">Purchase Name</label>
				<input name="USER_NAME"  type="text" class="form-control" id="pName" aria-describedby="emailHelp" requierd>
			</div>
			
			<div class="mb-3">
				<label for="email" class="form-label">Purchased By</label>
				<input name="EMAIL"  type="text" class="form-control" id="PurchaseBy" aria-describedby="emailHelp" requierd>
			</div>
			
			<div class="mb-3">
				<label for="password" class="form-label">Date</label>
				<input name="PASSWORD"  type="text" class="form-control" id="DateOfPurchaseOrder" aria-describedby="emailHelp" requierd>
			</div>
			
			<div class="mb-3">
				<label for="password" class="form-label">Goods Amount</label>
				<input name="PASSWORD"  type="text" class="form-control" id="GoodsAmount" aria-describedby="emailHelp" requierd>
			</div>
			
			<div class="mb-3">
				<label for="password" class="form-label">Other Amount</label>
				<input name="text"  type="text" class="form-control" id="otherAmount" aria-describedby="emailHelp" requierd>
			</div>
			
			<div class="mb-3">
				<label for="password" class="form-label">Total Amount</label>
				<input name="text"  type="text" class="form-control" id="totalAmount" aria-describedby="emailHelp" requierd>
			</div>
			
			
			<div class="mb-3">
			    <label for="about" class="form-label">Note of purchase Order</label>
				<textarea  name="ABOUT"  class="form-control" placeholder="Leave a comment here" id="notForPurchaseOrder"></textarea>
			</div>
			
		<!--	<div class="container text-center">
			<button type="reset" class="btn btn-danger">Reset</button>
			</div> -->
			</form> 
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary" onclick="saveNewPurchaseOrder()">Save</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal for uploadBill -->
<div class="modal fade" id="uploadBill" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload Bill Here</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
	<form id="myForm" action="your-upload-handler.php" method="post" enctype="multipart/form-data">
		<input type="file" name="fileToUpload" id="fileToUpload" />
		<input type="submit" class="btn btn-primary" value="Save" />
	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
     <!--   <button type="button" class="btn btn-primary">Save changes</button>  -->
      </div> 
    </div>
  </div>
</div>



    </div>
    
   </section>
  </body>
</html>